body{
    /* background: black; */
    background: linear-gradient(rgb(10, 10, 10), rgb(25, 33, 98) 50%);
    background-blend-mode: multiply;
    color: white;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20rem;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.page{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    justify-content: center;
    align-items: start;
    margin-top: 5rem;
    margin-bottom: 5rem;

    font-size: 2rem;
}

.logo{
    height: 8rem;
}

a{
    text-decoration: none;
    color: white;
}

.dc:hover{
    color: #1abeff;
}

.marvel:hover{
    color: #ff1e00;
}


.container2{
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    transform-style: preserve-3d;
    transform: 
    perspective(5000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}

/* .container2 > * {
    box-shadow: 0 0 3rem currentColor;
} */

.container2:active{
    cursor: move;
}

.container2::before,
.container2::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}

/* .container2::before{
    inset: 0.75rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(15px);
    opacity: 0.5;
} */


.container2::after{
    inset: -1rem;
    transform: translateZ(-50px) !important; 
    /* height: 50rem; */
    /* width: 50rem; */
}

.front-image{
    position: relative;
    height: 30rem;
}

.logo-image{
    position: absolute;
    transform: translateZ(50px);
    visibility: visible;
}

.button-back{
    margin-bottom: 50rem;
}

.getBack{
    color: white;
}

.getBack:hover{
    color: rgb(0, 217, 255);
}


.commands-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 5rem;
    margin-bottom: -10rem;
}

.command{
    color: white;
}

.command:hover{
    color: yellow;
    cursor: pointer;
}





.batman-background::after{
    background: url('https://media.istockphoto.com/id/542550644/photo/cortlandt-alley-by-night-in-nyc.jpg?b=1&s=170667a&w=0&k=20&c=8cTAIErZDlgD88ddaI2GWaNeA-kJ2d3-nQ12yKuDED4=');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.batman-image{
    top: -80px;
    left: -10px;
}
.batman-image:active{
    filter: drop-shadow(5px 5px 5px #888282);
}
.batman-image-animation{
    filter: drop-shadow(5px 5px 5px #888282);
}
.batman-logo{
    height: 20rem;
    left: -30px;
    top: 150px;
}
.batman-logo:active{
    filter: drop-shadow(5px 5px 5px #ffff3d);
}




.superman-background::after{
    background: url('https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?cs=srgb&dl=pexels-pixabay-53594.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.superman-image{
    top: -80px;
    left: -10px;
}
.superman-image:active{
    filter: drop-shadow(5px 5px 5px #ff1a1a);
}
.superman-image-animation{
    filter: drop-shadow(5px 5px 5px #ff1a1a);
}
.superman-logo{
    height: 20rem;
    left: 20px;
    top: 200px;
}
.superman-logo:active{
    filter: drop-shadow(10px 10px 10px #ffff00);
}



.flash-background::after{
    background: url('https://wallpapercave.com/wp/ZDRooQC.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.flash-image{
    top: -50px;
    left: -50px;
}
.flash-image:active{
    filter: drop-shadow(5px 5px 5px #1abeff);
}
.flash-image-animation{
    filter: drop-shadow(5px 5px 5px #1abeff);
}
.flash-logo{
    height: 20rem;
    left: 50px;
    top: 200px;
}
.flash-logo:active{
    filter: drop-shadow(5px 5px 5px #1abeff);
}


.green_lantern-background::after{
    background: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.green_lantern-image{
    top: -80px;
    left: -20px;
}
.green_lantern-image:active{
    filter: drop-shadow(5px 5px 5px #96ff9f);
}
.green_lantern-image-animation{
    filter: drop-shadow(5px 5px 5px #96ff9f);
}
.green_lantern-logo{
    height: 15rem;
    left: -50px;
    top: 250px;
}
.green_lantern-logo:active{
    filter: drop-shadow(5px 5px 5px #96ff9f);
}




.wonder_woman-background::after{
    background: url('https://img.freepik.com/premium-photo/antwerp-street-belgium_163782-2371.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.wonder_woman-image{
    top: -80px;
    left: -20px;
}
.wonder_woman-image:active{
    filter: drop-shadow(5px 5px 5px #d876ff);
}
.wonder_woman-image-animation{
    filter: drop-shadow(5px 5px 5px #d876ff);
}
.wonder_woman-logo{
    height: 15rem;
    left: -35px;
    top: 300px;
}


.aquaman-background::after{
    background: url('https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2VhJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.aquaman-image{
    top: -50px;
    left: 10px;
}
.aquaman-image:active{
    filter: drop-shadow(5px 5px 5px #e5f934);
}
.aquaman-image-animation{
    filter: drop-shadow(5px 5px 5px #e5f934);
}
.aquaman-logo{
    height: 15rem;
    left: -130px;
    top: 250px;
}

.shazam-background::after{
    background: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.shazam-image{
    top: -80px;
    left: -20px;
}
.shazam-image:active{
    filter: drop-shadow(5px 5px 5px #fff200);
}
.shazam-image-animation{
    filter: drop-shadow(5px 5px 5px #fff200);
}
.shazam-logo{
    height: 25rem;
    left: -20px;
    top: 200px;
}
.shazam-logo:active{
    filter: drop-shadow(5px 5px 5px #ff0000);
}




.martian_manhunter-background::after{
    background: url('https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.martian_manhunter-image{
    top: -80px;
    left: -20px;
}
.martian_manhunter-image:active{
    filter: drop-shadow(5px 5px 5px #96ff9f);
}
.martian_manhunter-image-animation{
    filter: drop-shadow(5px 5px 5px #96ff9f);
}
.martian_manhunter-logo{
    height: 25rem;
    left: 50px;
    top: 200px;
}
.martian_manhunter-logo:active{
    filter: drop-shadow(5px 5px 5px #ff0000);
}


/* MARVEL */

.spiderman-background::after{
    background: url('https://images5.alphacoders.com/437/thumb-1920-437716.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.spiderman-image{
    top: -50px;
    left: -10px;
}
.spiderman-image:active{
    filter: drop-shadow(5px 5px 5px #ff1e00);
}
.spiderman-image-animation{
    filter: drop-shadow(5px 5px 5px #ff1e00);
}
.spiderman-logo{
    height: 20rem;
    left: 50px;
    top: 200px;
}



.thor-background::after{
    background: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.thor-image{
    top: -50px;
    left: -10px;
}
.thor-image:active{
    filter: drop-shadow(5px 5px 5px #00b7ff);
}
.thor-image-animation{
    filter: drop-shadow(5px 5px 5px #00b7ff);
}
.thor-logo{
    height: 15rem;
    left: -20px;
    top: 250px;
}



.ironman-background::after{
    background: url('https://wallpapers.com/images/featured/mvehfqz6w2ges2dj.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.ironman-image{
    top: -50px;
    left: -10px;
}
.ironman-image:active{
    filter: drop-shadow(5px 5px 5px #ffae00);
}
.ironman-image-animation{
    filter: drop-shadow(5px 5px 5px #ffae00);
}
.ironman-logo{
    height: 25rem;
    left: -20px;
    top: 200px;
}
.ironman-logo:active{
    filter: drop-shadow(5px 5px 5px #ffae00);
}


.hulk-background::after{
    background: url('https://i.pinimg.com/originals/bf/3a/e5/bf3ae569b5af336a42a4947e321a418a.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
    top: 85px;
    /* transform: translateY(-50px); */
}
.hulk-image{
    top: -50px;
    left: -10px;
    height: 40rem;
}
.hulk-image:active{
    filter: drop-shadow(5px 5px 5px #15ff00);
}
.hulk-image-animation{
    filter: drop-shadow(5px 5px 5px #15ff00);
}
.hulk-logo{
    height: 15rem;
    left: -20px;
    top: 450px;
}
.hulk-logo:active{
    filter: drop-shadow(5px 5px 5px #15ff00);
}



.black_widow-background::after{
    background: url('https://img.freepik.com/free-photo/view-footbridge-night_1359-1078.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
    top: -50px;
}
.black_widow-image{
    top: -50px;
    left: -10px;
    /* height: 40rem; */
}
.black_widow-image:active{
    filter: drop-shadow(5px 5px 5px #00eeff);
}
.black_widow-image-animation{
    filter: drop-shadow(5px 5px 5px #00eeff);
}




.antman-background::after{
    background: url('https://img.freepik.com/premium-photo/modern-empty-futuristic-room-neon-cyberpunk-style-realistic-cinematic-light-template-layout-cyber-premises-rooms-room-with-white-walls-glossy-gray-floor-neon-light-3d-illustration_76964-3788.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
    top: 20px;
}
.antman-image{
    top: 20px;
    left: 20px;
    /* height: 15rem; */
}
.antman-image:active{
    filter: drop-shadow(5px 5px 5px #f70f0f);
}
.antman-image-animation{
    filter: drop-shadow(5px 5px 5px #f70f0f);
}
.antman-logo{
    height: 10rem;
    left: -50px;
    top: 400px;
}
.antman-logo:active{
    filter: drop-shadow(5px 5px 5px rgb(255, 242, 242));
}


.doctor_strange-background::after{
    background: url('https://wallpapercave.com/wp/wp11320672.jpg');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.doctor_strange-image{
    top: -50px;
    left: -10px;
}
.doctor_strange-image:active{
    filter: drop-shadow(5px 5px 5px #ffae00);
}
.doctor_strange-image-animation{
    filter: drop-shadow(5px 5px 5px #ffae00);
}
.doctor_strange-logo{
    height: 25rem;
    left: -20px;
    top: 200px;
}
.doctor_strange-logo:active{
    filter: drop-shadow(5px 5px 5px #ffae00);
}




.wolverine-background::after{
    background: url('https://media.istockphoto.com/id/868924326/photo/norway-in-winter.jpg?b=1&s=170667a&w=0&k=20&c=o10zlIVw4zsjgMDpqFBuCfHymF8t8a_6ev0JAiRtbhI=');
    background-repeat: no-repeat;
    background-size: 35rem 30rem;
}
.wolverine-image{
    top: -50px;
    left: -10px;
}
.wolverine-image:active{
    filter: drop-shadow(5px 5px 5px #e5ff00);
}
.wolverine-image-animation{
    filter: drop-shadow(5px 5px 5px #e5ff00);
}
.wolverine-logo{
    height: 15rem;
    left: -40px;
    top: 300px;
}
.wolverine-logo:active{
    filter: drop-shadow(5px 5px 5px #e5ff00);
}




